body {
    margin: 0px;
    padding: 0px;
    background: rgb(63, 94, 251);
    background: -moz-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(173, 70, 252, 0.2704545454545455) 100%);
    background: -webkit-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(173, 70, 252, 0.2704545454545455) 100%);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(173, 70, 252, 0.2704545454545455) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#ad46fc", GradientType=1);
}

main {
    padding: 16px;
}

footer {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-bottom: 24px;
    font-family: pacifico;

}

img {
    height: 200px;
}

nav {
    border-bottom: 100px whitesmoke;
    padding: 16px all;
    background-color: whitesmoke;

}

a {
    text-decoration: none;
    font-family: pacifico;
}

body:hover {
    background: linear-gradient(0.25turn, #eeaeca, #94bbe9, #eeaeca);
}

h1 {
    font-family: pacifico;
}

h2 {
    font-family: pacifico;
}

.img {
    display: flex;
    flex-direction: row;
}

.img {
    display: flex;
    flex-direction: row;
}